/* RESET */
*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* VARIÁVEIS */
:root {
--bg-primary: #0f0c1a;
--bg-secondary: #1e1b2e;
--bg-card: rgba(255, 255, 255, 0.05);
--bg-card-dark: rgba(0, 0, 0, 0.3);


--CrystalBlue: #1FC7D4;
--pink: #f472b6;
--yellow: #facc15;

--text: #d1d5db;
--muted: #9ca3af;

--radius: 20px;


}

/* BASE */
body {
font-family: 'Segoe UI', sans-serif;
background: linear-gradient(135deg, var(--bg-secondary), var(--bg-primary));
color: white;
}

/* CONTAINER */
.container {
max-width: 1100px;
margin: auto;
padding: 20px;
}

/* TELA INICIAL */
#start-screen {
position: fixed;
inset: 0;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(135deg, #1e1b2e, #0f0c1a);
z-index: 999;
}

#start-btn {
padding: 15px 40px;
font-size: 1.2rem;
border: none;
border-radius: 999px;
background: linear-gradient(90deg, var(--CrystalBlue), var(--pink));
color: white;
cursor: pointer;
transition: 0.3s;
}

#start-btn:hover {
transform: scale(1.05);
}

/* HEADER */
header {
border-bottom: 1px solid rgba(255,255,255,0.1);
}

nav ul {
display: flex;
gap: 15px;
list-style: none;
margin-bottom: 10px;
}

nav a {
color: var(--CrystalBlue);
text-decoration: none;
}

/* TITULOS */
h1 {
font-size: 2rem;
background: linear-gradient(90deg, var(--CrystalBlue), var(--pink));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

h2 {
margin-bottom: 20px;
color: var(--pink);
}

h3 {
color: var(--CrystalBlue);
margin-bottom: 10px;
}

/* MAIN */
main {
padding: 40px 0;
}

section {
background: var(--bg-card);
padding: 30px;
border-radius: var(--radius);
}

article {
background: var(--bg-card-dark);
padding: 20px;
border-radius: 15px;
margin-bottom: 20px;
}

/* TEXTO */
p {
color: var(--text);
}

/* FOOTER */
footer {
text-align: center;
padding: 20px;
color: var(--muted);
}
